# Описание типов и структур данных Python

## Стандартные вычислительные операции

In [4]:
2/3

0.6666666666666666

In [9]:
3 + 0.0000000000000005

3.0000000000000004

In [10]:
1 + .0000000000000005

1.0000000000000004

In [4]:
10//3

3

In [2]:
10.5 // 3.6

2.0

In [13]:
(-10)//3 # Python округляет в меньшую сторону

-4

In [17]:
-10/3

-3.3333333333333335

In [21]:
10**1000

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [22]:
10.0**100

1e+100

In [25]:
x, y

(2, 7)

In [30]:
# Это то же самое что и в примере выше, только короче
x = 2
x += 3 
print(x)

5

# Типы данных

## Числовой тип данных

In [36]:
# В данном случае мы специально выбрали такие названия для наглядности, в реальной задаче вы можете использовать любые названия переменных, но с некоторыми ограничениями
int_number = 5 # Числовой тип данных
float_number = 2.45 # Числовой тип данных с плавающей запятой
string_sentence = 'Hello world!' # Строковый тип данных, который всегда пишется в кавычках!
bool_type = True # Логический тип данных

In [39]:
type(int_number)

int

In [40]:
type(float_number)

float

In [41]:
type(string_sentence)

str

In [42]:
type(bool_type)

bool

## Строковые типы

_Строка_ - неизменяемый контейнер символов

In [69]:
 # Строки можно умножать :)

'Hello World!Hello World!Hello World!'

## Булевский тип

`True` - в Python подразумевает как цифру 1, `False` - как цифру 0

In [93]:
type(True)

bool

Сравнение: `==`   `!=`   `<`   `>`   `<=`   `>=`

Логические связки: `not` `and` `or`

In [99]:
age = 49
# print(Age < 18 or Age > 55)
# print(Age >= 18 and Age <= 55)
# print(18 <= Age <= 55)

In [6]:
True >= False

True

In [108]:
5 > 1 < 2

True

In [109]:
'Вася' < 'Петр Иванович'

True

## Списки

_Список_ (list) - изменяемый (mutable) контейнер. Обращение к элементу списка - по индексу.

In [10]:
lst = [1, 2.0, 3, 'four', True, [123,321]]
lst

[1, 2.0, 3, 'four', True, [123, 321]]

In [118]:
lst[5][1]

321

In [129]:
lst[2] = [12, 'three'] # Можно добавить список в список!
lst

['One', 2.0, [12, 'three'], 'four', True, [123, 321]]

In [143]:
lst + lst # Списки можно складывать! Работает почти также как со строками

[1, 2, 3, 4, 5, [1, 2, 3, 4], 1, 2, 3, 4, 5, [1, 2, 3, 4]]

In [11]:
2*lst # Можно сделать то же самое операцией сложения

[1, 2.0, 3, 'four', True, [123, 321], 1, 2.0, 3, 'four', True, [123, 321]]

In [153]:
lst = [0, 1, 2, 3, 4]
lst2 = lst
lst2[1] = 111  # lst меняется
print(lst2)
print(lst)

[0, 111, 2, 3, 4]
[0, 111, 2, 3, 4]

In [155]:
lst3 = [1,2,3]

In [156]:
lst3 is lst

False

In [166]:
lst = [0, 1, 2, 3, 4]
lst3 = lst[:]
lst3[1] = 11
print(lst3)
print(lst)

[0, 11, 2, 3, 4]
[0, 1, 2, 3, 4]

In [167]:
[1,2,3] == [1,2,3]

True

In [169]:
a = [1,2,3]
b = [1,2,3]

In [170]:
id(a)

1998026163520

In [171]:
id(b)

1998026257600

In [168]:
[1,2,3] is [1,2,3]

False

In [172]:
2==2

True

In [173]:
a=2
b=2
a is b

True

In [12]:
lst = []
item = 2
indx = 0

Существую различные методы которые можно применить к списку

In [ ]:
lst.append(item)       # Вставить в конец
lst.pop()              # Удалить последний и возвратить значение
lst.insert(indx, item) # Вставка в указанную позицию
lst.count(item)        # Найти количество вхождений значений в списке
lst.index(item)        # Индекс первого вхождения значения в списке
lst.remove(item)       # Удалить первое вхождение значения в список
lst.sort()             # Сортировать список
lst.reverse()          # Записать в обратном порядке

В Python сущетвуют встроенные функции, которые также можно применять к различным переменным, которые вы создали. Например: Вызов функции `min()` или `max()` осуществляется следующим образом:

# Кортежи

_Кортеж_ (tuple) - неизменяемый (immutable) контейнер (в отличие от списка). В остальном они ведут себя так же, как списки.

In [15]:
x = (1, 2, 3, 'four') # Скобки можно опустить
print(x)
print(type(x))

(1, 2, 3, 'four')
<class 'tuple'>

In [267]:
type((1,))

tuple

In [275]:
print(x[0], x[1], x[-1], len(x))
print(x[1:3], x[:3], x[1:])  # Подкортежи

1 123 123 3
(123, 123) (1, 123, 123) (123, 123)

In [280]:
# x[2] = 4               # Нельзя!
#x[3:5] = [4, 5, 6]    # Нельзя!

In [281]:
y1 = (1, 3, 5, 7)
y2 = (2, 4, 6, 8)
y1 + y2                # Конкатенация

(1, 3, 5, 7, 2, 4, 6, 8)

In [283]:
a = 2
b = 10

b = a

In [291]:
a, b, c = (1, 2, 3)

In [292]:
a, b = b, a # Эта и последующая запись одинаковы

In [ ]:
(a, b) = (b, a) # Эта и предыдущая запись одинаковы

# Словари
_Словарь_ ( _ассоциативный массив_ ) - изменяемый контейнер. Обращение к элементу словаря - по имени (ключу) элемента. В качестве ключей могут выступать любые неизменяемые типы, в частности, строки, числа (int, long, float), кортежи.

In [297]:
person = {'FirstName':'Isac','Яблоко':100}
print(person)

{'FirstName': 'Isac', 'Яблоко': 100}

In [298]:
person["Яблоко"]

100

In [23]:
person['FirstName'] = 'Isaaaaaaaaac'
person['Profession'] = 'Scientist'
person['Age'] = 50
person[-33.5] = 0xFFFF
person[(1,3)] = [1, 2, 4,]
person[True] = [1, 2, 4,]
print(person)

{'FirstName': 'Isaaaaaaaaac', 'LastName': 'Newton', (1, 2): 5, 'Age': 50, 2: 123, 2.3: 2.3, 'Profession': 'Scientist', -33.5: 65535, (1, 3): [1, 2, 4], True: [1, 2, 4]}

In [316]:
person[(1, 2)] = '123' # В качестве ключей используем любые неизменяемые типы
person

{'FirstName': 'Isaaaaaaaaac',
 'LastName': 'Newton',
 (1, 2): '123',
 'Age': 50,
 2: 123,
 2.3: 2.3,
 'Profession': 'Scientist',
 -33.5: 65535,
 (1, 3): [1, 2, 4],
 True: [1, 2, 4]}

In [324]:
'Isaaaaaaaaac' in person.values()

True

In [325]:
del person['FirstName']
print(person)

{'LastName': 'Newton', (1, 2): '123', 'Age': 50, 2: 123, 2.3: 2.3, 'Profession': 'Scientist', -33.5: 65535, (1, 3): [1, 2, 4], True: [1, 2, 4]}

In [326]:
person.items() # Метод "items" выводит на экран пары ключ:значение

dict_items([('LastName', 'Newton'), ((1, 2), '123'), ('Age', 50), (2, 123), (2.3, 2.3), ('Profession', 'Scientist'), (-33.5, 65535), ((1, 3), [1, 2, 4]), (True, [1, 2, 4])])

# Управляющие конструкции

## Цикл `while`

Имеются `continue`, `break`

In [348]:
eps = 1
while 1 + eps > 1:
    eps = eps - 0.1
    break

print(eps)

0.9

In [353]:
eps = 1
i = 0
while 1 + eps > 1:
    eps = eps - 0.1
    print('Шаг номер: ', i)
    i = i + 1
    

print(eps)

Шаг номер:  0
Шаг номер:  1
Шаг номер:  2
Шаг номер:  3
Шаг номер:  4
Шаг номер:  5
Шаг номер:  6
Шаг номер:  7
Шаг номер:  8
Шаг номер:  9
Шаг номер:  10
-0.09999999999999987

# Цикл `for`

In [364]:
### Вспомним как обращаться к словарю
person = {'surname': 'Gauss', 'name': 'Karl', (1, 2): 3}

In [366]:
person['surname']

'Gauss'

In [368]:
for key in person:
    # print(key)
    print(person[key])

Gauss
Karl
3

# Функции

In [24]:
# Можно создавать свои функции, которые используются для сокращения кода
def some_function(a, b):
    a = abs(a)
    b = abs(b)
    for i in range(1,6,2):
        a = a + i 
        b = b + i 
    return a, b # Функция  должна возвращать то, что внутри посчитала иначе у в результате будет None

In [26]:
a = some_function(-5,10)

In [400]:
def fibo(B = 50):
    # Обычный комментарий
    '''
    Print Fibonacci numbers less than or equal to B
    '''
    a, b = 0, 1
    while b <= B:
        print(b)
        a, b = b, a + b

In [401]:
fibo(1000)

1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987

### Видимость объектов

Имена из вызывающего контекста использовать можно, но присваивать им другие объекты нельзя.
Объекты менять можно.

In [403]:
def fun():
    a = 3
    print(a)

In [408]:
a = 123
fun()
print(a)

3
123

In [409]:
def fun():
    print(a + 1)  # Так можно
    # a = 3  # Так нельзя

    
a = 123
fun()    
print(a)

124
123

In [414]:
def fun():
    lst[0] = 'NewValue0'     # Можно!
    lst.append('NewValue3')

lst = [0, 1, 2]
fun()    
print(lst)

['NewValue0', 1, 2, 'NewValue3']

# Работа с модулями

```python
import модуль
from модуль import что-то конкретное
from модуль import *
import модуль as псевдоним
```

In [415]:
import math
print(math.pi, math.exp(1))

3.141592653589793 2.718281828459045

In [ ]:
from math import pi, exp
print(pi, exp(1))

In [ ]:
from math import *
print(pi, exp(1), sin(pi), sqrt(2))

Любой файл с кодом на питоне - это уже модуль.
```python
import модуль
```
отправляет его на выполнение.

Несколько модулей можно объединять в пакеты.